footer{
    position: relative;
    bottom: 0;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
}
.icons{
    flex-basis: 40%;
    flex-direction: column;
}
.icons i{
    font-size: 24px;
    font-weight: 500;
    margin: 30px;
}
.content{
    flex-basis: 40%;
}
.bottom{
    background-color: rgb(67, 67, 67);
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding: 10px;

}
.bottom h4{
    font-size: 12px;
}