<app-nav></app-nav>

<section class="bg-col">
  <div class="containers">
    <div class="title">
      <h1> New Era Of E-Commerce</h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="cardmain">
            <div class="discount"> 9 %</div>
            
            <div class="product-container">
              <div class="p" (mouseover)="changeImg($event)"><img src="images/img-1.jpg" alt="tech"></div>
              <div class="p" (mouseover)="changeImg($event)"><img src="images/img-2.jpg" alt="tech"></div>
              <div class="p" (mouseover)="changeImg($event)"><img src="images/img3.jpg" alt="tech"></div>
              <div class="p" (mouseover)="changeImg($event)"><img src="images/img-4.jpg" alt="tech"></div>
            </div>
            <div class="image">
              <img [src]="url" alt="product ">
  
            </div>
            <div class="label label-green">pre-order</div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                <li><a href=""><i class="fa fa-heart"></i></a></li>
                <li><a href=""><i class="fa fa-search"></i></a></li>
              </ul>
            </div>

          </div>
          <div class="content">
            <a href=""> Apple I phone 15 plus </a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p><span class="money">$81</span> <span class="old-price">$90</span></p>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="cardmain">
            <div class="discount"> 9 %</div>
            
            <div class="product-container">
              <div class="p" (mouseover)="changeImg2($event)"><img src="images/img-5.jpg" alt="tech"></div>
              <div class="p" (mouseover)="changeImg2($event)"><img src="images/img-6.jpg" alt="tech"></div>
              <div class="p" (mouseover)="changeImg2($event)"><img src="images/img-7.jpg" alt="tech"></div>
              <div class="p" (mouseover)="changeImg2($event)"><img src="images/img-8.jpg" alt="tech"></div>
            </div>
            <div class="image">
              <img [src]="url2" alt="product ">
  
            </div>
            <div class="label label-green">pre-order</div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                <li><a href=""><i class="fa fa-heart"></i></a></li>
                <li><a href=""><i class="fa fa-search"></i></a></li>
              </ul>
            </div>

          </div>
          <div class="content">
            <a href=""> HeadPhones </a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p><span class="money">$81</span> <span class="old-price">$90</span></p>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="cardmain">
            <div class="discount"> 9 %</div>
            
            <div class="product-container">
              <div class="p" (mouseover)="changeImg3($event)"><img src="images/img-9.jpg" alt="tech"></div>
              <div class="p" (mouseover)="changeImg3($event)"><img src="images/img-10.jpg" alt="tech"></div>
              <div class="p" (mouseover)="changeImg3($event)"><img src="images/img-11.jpg" alt="tech"></div>
              <div class="p" (mouseover)="changeImg3($event)"><img src="images/img-12.jpg" alt="tech"></div>
            </div>
            <div class="image">
              <img [src]="url3" alt="product ">
  
            </div>
            <div class="label label-green">pre-order</div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                <li><a href=""><i class="fa fa-heart"></i></a></li>
                <li><a href=""><i class="fa fa-search"></i></a></li>
              </ul>
            </div>

          </div>
          <div class="content">
            <a href=""> Watches </a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p><span class="money">$81</span> <span class="old-price">$90</span></p>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="cardmain">
            <div class="discount"> 9 %</div>
            
            <div class="product-container">
              <div class="p" (mouseover)="changeImg4($event)"><img src="images/img-13.jpg" alt="tech"></div>
              <div class="p" (mouseover)="changeImg4($event)"><img src="images/img-14.jpg" alt="tech"></div>
              <div class="p" (mouseover)="changeImg4($event)"><img src="images/img-15.jpg" alt="tech"></div>
              <div class="p" (mouseover)="changeImg4($event)"><img src="images/img-16.jpg" alt="tech"></div>
            </div>
            <div class="image">
              <img [src]="url4" alt="product ">
  
            </div>
            <div class="label label-green">pre-order</div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                <li><a href=""><i class="fa fa-heart"></i></a></li>
                <li><a href=""><i class="fa fa-search"></i></a></li>
              </ul>
            </div>

          </div>
          <div class="content">
            <a href=""> Laptops </a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p><span class="money">$81</span> <span class="old-price">$90</span></p>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
<section class="slider">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="images/slide1.jpg" alt=""></ng-template>  
    <ng-template carouselSlide><img src="images/slide2.jpg" alt=""></ng-template>  
    <ng-template carouselSlide><img src="images/slide3.jpg" alt=""></ng-template>  

 </owl-carousel-o>
 </section>

<app-policy></app-policy>
<!-- <app-slider></app-slider> -->

<app-footer></app-footer>